h1 {
  font-size: 50px;
  font-weight: bold;
}

body {
  text-align: center;
  background-image: url(../img/bg-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background: rgba(255,255,255, 0.3);
  padding: 2%;
}

.total-score {
  background-color: white;
  border: 2px solid black;
  width: 50%;
  display: inline-block;
  border-radius: 7em;
  padding: 1%;
  margin: 5%;
}

.btn-info {
  float: right;
}

.btn-danger {
  float: left;
}

.round-score {
  background-color: white;
  border: 2px solid black;
  width: 50%;
  display: inline-block;
  border-radius: 7em;
  padding: 1%;
  margin: 5% 5% 0% 5%;
}

.dice-roll {
  background-color: white;
  border: 2px solid black;
  width: 50%;
  display: inline-block;
  border-radius: 7em;
  padding: 1%;
  margin: 5% 5% 0% 5%;
}

span {
  font-size: 40px;
}
