h1 {
  font-size: 5em;
  font-weight: bold;
}

body {
  text-align: center;
  background-image: url(../img/bg-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Bree Serif', serif;
}

.container {
  background: rgba(255,255,255, 0.3);
  padding: 2%;
}

.total-score {
  background: rgba(255,255,255, 0.3);
  border: 2px solid black;
  width: 50%;
  display: inline-block;
  border-radius: 7em;
  padding: 1%;
  margin: 5%;
}

button#roll-dice {
  float: right;
  background: rgba(255,255,255, 0);
  border: none;
  outline: 0;
}

/*button#roll-dice:active {
  border: none;
}*/

.btn-danger {
  float: left;
}

.round-score {
  background: rgba(255,255,255, 0.3);
  border: 2px solid black;
  width: 50%;
  display: inline-block;
  border-radius: 7em;
  padding: 1%;
  margin: 5% 5% 0% 5%;
}

.dice-roll {
  background: rgba(255,255,255, 0.3);
  border: 2px solid black;
  width: 50%;
  display: inline-block;
  border-radius: 7em;
  padding: 1%;
  margin: 5% 5% 0% 5%;
}

span {
  font-size: 40px;
}

img {
  width: 25%;
  float: right;
}
